
/* image styling */

img {
    border-radius: 8px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}

/* h2, h3 styling */
h2, h3 {
    color:#2C3E50;
    font-family: Arial, Helvetica, sans-serif;
    background-color: AntiqueWhite;
    text-align:center;
    box-sizing:border-box;
}

/* styling for basic paragraphs that aren't included below */
p, ol, ul, li {
    color: #2C3E50;
    font-family: Arial, Helvetica, sans-serif;
    background-color: AntiqueWhite;
    text-align:left;
    box-sizing:border-box;
}

/* body styling */
body {
    background-color: AntiqueWhite;
    box-sizing:border-box;
    border: 10px solid;
    border-color: #145A32;
}

/* header and footer styling that updates colors*/
header, header h1, header p, footer, footer p{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#e4d8c9;
    color:#145A32 ;
    text-align: center;
    }

/* updating h1 margin and formatting */
header h1{
    margin-top: 0;
    padding-top: 35px;
    font-size: 32px; 
}

/* updating padding */
header p {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* updating padding */
footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

/* updating footer margin */
footer {
    margin-bottom: 0%;
}

/* list style to inside */
.list-inside li {
    list-style-position: inside;
}

/* updating padding and margin */
article {
    padding: 0 25%;
    margin: 100px 0;
}

/* link coloring */
a:link {color:#145A32;}
a:visited {color:#CD853F;}
a:hover {color:black;}
a:active {color:#2C3E50}

/* updating hr formatting */
hr {
    border: 1px solid #145A32;
    border-radius: 5px;
}


